@import "variables";

.contenedor-favoritos {
    text-align: $alinearTextos;
    margin-top: 6rem;
}

.muestra-favoritos {
    text-align: $alinearTextos;
    margin: $marginAuto;
    margin-top: 8rem;
    & td {
        padding: $paddingColumnas;
        background-color: $fondoTablasFavoritos;
        color: $colorTextos;
    }

    &_suelo {
        margin: $marginAuto;
        margin-top: 5rem;
        & td {
            padding: $paddingColumnas;
            background-color: $fondoTablasFavoritos;
            color: $colorTextos;
        }
    }
}

