@import "variables";

.contenedorSuelo {
    margin-top: 3rem;
}

.btn-calcularSuelo {
    margin-top: 20px;
}

.contenedorSuelo-calculo {
    text-align: $alinearTextos;
}

.filaRespuesta-suelo {
    & td {
        color: $colorTextos;
        text-align: $alinearTextos;
    }
}

.contenedorRespuestaSuelo {
    margin-top: 4rem;
    & table {
        border: black 3px solid;
        margin: $marginAuto;
        & td {
            padding: $paddingColumnas;
        }
    }
}