@import "variables";

.contenedorMuestra {
    margin-top: 3rem;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "input tabla";
    gap: 0 20px;

    &-titulo {
        grid-area: titulo;
        margin-bottom: 5rem;
    }
}

.contenedorRespuesta {
    margin-top: 0;
    & table {
        border: black 3px solid;
        margin: $marginAuto;
        & td {
            padding: $paddingColumnas;
        }
    }
}

.filaInicial {
    & td {
        color: white;
        font-weight: bold;
        font-family: "Merriweather", serif;
    }
}

.filaRespuesta {
    & td {
        color: $colorTextos;
        text-align: $alinearTextos;
    }
}

.contenedorPregunta {
    align-items: center;
    text-align: $alinearTextos;

    &-capacidad {
        margin: 20px 0;
    }
}

.btn-calcular {
    width: min-content;
    margin: $marginAuto;
}

.btn-favoritos {
    margin-left: 8px;
}