* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-areas: 
    "header header"
    "maceta suelo";
}

.header {
    grid-area: header;
}

h1 {
    color: #D0C211;
    text-align: center;
    margin: 1.6rem 0;
}

h2 {
    text-align: center;
    color: #D0C211;
    
}

.contenedorMuestra {
    grid-area: maceta;
}


.contenedorPregunta {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.contenedorPregunta-tamaño {
    margin: 20px 0;
}

.contenedorPregunta-capacidad {
    margin: 20px 0;
}

input {
    width: min-content;
    padding: 1.5px 3px;
    border-radius: 3px;
    margin-top: 7px;
}

.btn-calcular {
    width: min-content;
    margin: auto;
}

.parrafo-respuesta {
    color: #FFFC4D;
    text-align: center;
    margin: 8px 0;
}

.contenedorSuelo {
    grid-area: suelo;
}

button {
    padding: 4px;
    border-radius: 2px;
    border-style: none;
    color: #F1F120;
    background-color: rgba(0, 0, 128, 0.35);
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

.btn-calcularSuelo {
    margin-top: 20px;
}

.contenedorSuelo-calculo {
    text-align: center;
}
