@import "SASS/riego-maceta";
@import "SASS/riego-suelo";
@import "SASS/favoritos";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    color: #D0C211;
    text-align: center;
    margin: 1.6rem 0;
}

h2 {
    text-align: center;
    color: #D0C211;
}

input {
    width: min-content;
    padding: 1.5px 3px;
    border-radius: 3px;
    margin-top: 7px;
}

button {
    padding: 4px;
    border-radius: 2px;
    border-style: none;
    color: #F1F120;
    background-color: rgba(0, 0, 128, 0.35);
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.btn-contenedor {
    text-align: center;
    margin-top: 7rem;
}


td {
    border: white 1px solid;
}

.btn-inicio {
    text-align: center;
}

.nav {
    background-color: #041D5A;
    padding: 10px 0;

    &-barra {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        list-style: none;

        & a {
            color: #FFC300;
            font-weight: bold;
            transition: all 0.3s;

            &:hover {
                color: whitesmoke;
                background-color: #1D3265;
                padding: 11px;
                border-radius: 7px;
            }
        }
    }
}

.actual {
    background-color: #3F5690 ;
    padding: 11px;
    border-radius: 7px;
}