.contenedorMuestra {
  margin-top: 3rem;
  display: grid;
  grid-template-areas: "titulo titulo" "input tabla";
  gap: 0 20px; }
  .contenedorMuestra-titulo {
    grid-area: titulo;
    margin-bottom: 5rem; }

.contenedorRespuesta {
  margin-top: 0; }
  .contenedorRespuesta table {
    border: black 3px solid;
    margin: auto; }
    .contenedorRespuesta table td {
      padding: 7px; }

.filaInicial td {
  color: white;
  font-weight: bold;
  font-family: "Merriweather", serif; }

.filaRespuesta td {
  color: #F1F120;
  text-align: center; }

.contenedorPregunta {
  align-items: center;
  text-align: center; }
  .contenedorPregunta-capacidad {
    margin: 20px 0; }

.btn-calcular {
  width: min-content;
  margin: auto; }

.btn-favoritos {
  margin-left: 8px; }

.contenedorSuelo {
  margin-top: 3rem; }

.btn-calcularSuelo {
  margin-top: 20px; }

.contenedorSuelo-calculo {
  text-align: center; }

.filaRespuesta-suelo td {
  color: #F1F120;
  text-align: center; }

.contenedorRespuestaSuelo {
  margin-top: 4rem; }
  .contenedorRespuestaSuelo table {
    border: black 3px solid;
    margin: auto; }
    .contenedorRespuestaSuelo table td {
      padding: 7px; }

.contenedor-favoritos {
  text-align: center;
  margin-top: 6rem; }

.muestra-favoritos {
  text-align: center;
  margin: auto;
  margin-top: 8rem; }
  .muestra-favoritos td {
    padding: 9px;
    background-color: rebeccapurple;
    color: #F1F120; }
  .muestra-favoritos_suelo {
    margin: auto;
    margin-top: 5rem; }
    .muestra-favoritos_suelo td {
      padding: 9px;
      background-color: rebeccapurple;
      color: #F1F120; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #373B44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

h1 {
  color: #D0C211;
  text-align: center;
  margin: 1.6rem 0; }

h2 {
  text-align: center;
  color: #D0C211; }

input {
  width: min-content;
  padding: 1.5px 3px;
  border-radius: 3px;
  margin-top: 7px; }

button {
  padding: 4px;
  border-radius: 2px;
  border-style: none;
  color: #F1F120;
  background-color: rgba(0, 0, 128, 0.35);
  font-weight: bold;
  transition: 0.3s; }

button:hover {
  cursor: pointer; }

button:active {
  transform: scale(0.9); }

a {
  text-decoration: none;
  color: whitesmoke; }

.btn-contenedor {
  text-align: center;
  margin-top: 7rem; }

td {
  border: white 1px solid; }

.btn-inicio {
  text-align: center; }

.nav {
  background-color: #041D5A;
  padding: 10px 0; }
  .nav-barra {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none; }
    .nav-barra a {
      color: #FFC300;
      font-weight: bold;
      transition: all 0.3s; }
      .nav-barra a:hover {
        color: whitesmoke;
        background-color: #1D3265;
        padding: 11px;
        border-radius: 7px; }

.actual {
  background-color: #3F5690;
  padding: 11px;
  border-radius: 7px; }
